.container {
    display: flex;
}

.board {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    width: 512px;
    height: 512px;
}

.cell {
    box-sizing: border-box;
    border: 1px solid black;
}